@import 'helpers/variaveis';
@import 'helpers/placeholders';

@import 'base/custom';
@import 'base/fonts';
@import 'base/scrollbar';

textarea {
  min-height: 350px;
  width: 100%;;
  background-color: rgba(255,255,255,.9);
  border-radius: 10px;
  padding: 10px;
}

.info-area {
  border-right: solid 2px #fff;
  background-color: #333;

  ul {
    padding-left: 40px;
    text-align: left;
  }
}

.info-ico {
  font-size: 4rem;
  opacity: .2;
}




