@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
.timeline ul li:nth-child(odd) .time,
.timeline ul li:nth-child(even) .time {
  display: flex;
  align-items: center;
  justify-content: center; }

body {
  font-family: 'CaviarDreams', sans-serif;
  margin: 0px;
  padding: 0px; }

.bg-black {
  background-color: #1c1c1c; }

.bg-transparent {
  background-color: transparent; }

.parallax-img {
  background-attachment: fixed; }

.text-upper {
  text-transform: uppercase; }

.bold {
  font-weight: bold; }

.kerning-3 {
  letter-spacing: 3px; }

.btn-lg {
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  border: solid 2px;
  width: 160px;
  border-radius: 0px; }

.font-0 {
  font-size: 0.7em; }

.font-1 {
  font-size: 1em; }

.font-1-2 {
  font-size: 1.2em; }

.font-2 {
  font-size: 1.5em; }

.margin-1 {
  margin-top: 100px;
  margin-bottom: 100px; }

.margin-2 {
  margin-top: 200px;
  margin-bottom: 200px; }

.padding-025 {
  padding: 25px 0; }

.padding-1 {
  padding: 100px 0; }

.padding-2 {
  padding: 200px 0; }

p {
  font-size: .9em;
  line-height: 2em; }

.icon-lg {
  font-size: 2em; }

.b-bottom {
  border: none;
  border-bottom: solid 1px #fff; }

a.active {
  background-color: transparent !important;
  border-bottom: cor-padrao solid 2px !important;
  transition: .5s; }

@font-face {
  font-family: CaviarDreams;
  src: url(../fonts/CaviarDreams.ttf); }
::-webkit-scrollbar {
  width: 10px;
  background-color: #1c1c1c; }

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px; }

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  box-shadow: inset 0 0 4px #fff; }

.anime-left {
  opacity: 0;
  transform: translate3d(-100px, 0, 0);
  transition: 1s; }

.anime-right {
  opacity: 0;
  transform: translate3d(100px, 0, 0);
  transition: 1s; }

.anime-top {
  opacity: 0;
  transform: translate3d(0, -100px, 0);
  transition: 1s; }

.anime-bottom {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition: 1s; }

.anime-start {
  opacity: 1;
  transform: translate3d(0, 0, 0); }

.anime-grafico {
  width: 0px; }

:root {
  --balloon-color: rgba(16, 16, 16, 0.95);
  --balloon-font-size: 12px;
  --balloon-move: 4px; }

button[aria-label][data-balloon-pos] {
  overflow: visible; }

[aria-label][data-balloon-pos] {
  position: relative;
  cursor: pointer; }

[aria-label][data-balloon-pos]:after {
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: all .18s ease-out .18s;
  text-indent: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  font-style: normal;
  text-shadow: none;
  font-size: var(--balloon-font-size);
  background: var(--balloon-color);
  border-radius: 2px;
  color: #fff;
  content: attr(aria-label);
  padding: .5em 1em;
  position: absolute;
  white-space: nowrap;
  z-index: 10; }

[aria-label][data-balloon-pos]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: var(--balloon-color);
  opacity: 0;
  pointer-events: none;
  transition: all .18s ease-out .18s;
  content: "";
  position: absolute;
  z-index: 10; }

[aria-label][data-balloon-pos]:hover:before,
[aria-label][data-balloon-pos]:hover:after,
[aria-label][data-balloon-pos][data-balloon-visible]:before,
[aria-label][data-balloon-pos][data-balloon-visible]:after,
[aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:before,
[aria-label][data-balloon-pos]:not([data-balloon-nofocus]):focus:after {
  opacity: 1;
  pointer-events: none; }

[aria-label][data-balloon-pos].font-awesome:after {
  font-family: FontAwesome, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

[aria-label][data-balloon-pos][data-balloon-break]:after {
  white-space: pre; }

[aria-label][data-balloon-pos][data-balloon-break][data-balloon-length]:after {
  white-space: pre-line;
  word-break: break-word; }

[aria-label][data-balloon-pos][data-balloon-blunt]:before,
[aria-label][data-balloon-pos][data-balloon-blunt]:after {
  transition: none; }

[aria-label][data-balloon-pos][data-balloon-pos="up"]:after {
  bottom: 100%;
  left: 50%;
  margin-bottom: 10px;
  transform: translate(-50%, var(--balloon-move));
  transform-origin: top; }

[aria-label][data-balloon-pos][data-balloon-pos="up"]:before {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, var(--balloon-move));
  transform-origin: top; }

[aria-label][data-balloon-pos][data-balloon-pos="up"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="up"][data-balloon-visible]:after {
  transform: translate(-50%, 0); }

[aria-label][data-balloon-pos][data-balloon-pos="up"]:hover:before,
[aria-label][data-balloon-pos][data-balloon-pos="up"][data-balloon-visible]:before {
  transform: translate(-50%, 0); }

[aria-label][data-balloon-pos][data-balloon-pos="up-left"]:after {
  bottom: 100%;
  left: 0;
  margin-bottom: 10px;
  transform: translate(0, var(--balloon-move));
  transform-origin: top; }

[aria-label][data-balloon-pos][data-balloon-pos="up-left"]:before {
  bottom: 100%;
  left: 5px;
  transform: translate(0, var(--balloon-move));
  transform-origin: top; }

[aria-label][data-balloon-pos][data-balloon-pos="up-left"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="up-left"][data-balloon-visible]:after {
  transform: translate(0, 0); }

[aria-label][data-balloon-pos][data-balloon-pos="up-left"]:hover:before,
[aria-label][data-balloon-pos][data-balloon-pos="up-left"][data-balloon-visible]:before {
  transform: translate(0, 0); }

[aria-label][data-balloon-pos][data-balloon-pos="up-right"]:after {
  bottom: 100%;
  right: 0;
  margin-bottom: 10px;
  transform: translate(0, var(--balloon-move));
  transform-origin: top; }

[aria-label][data-balloon-pos][data-balloon-pos="up-right"]:before {
  bottom: 100%;
  right: 5px;
  transform: translate(0, var(--balloon-move));
  transform-origin: top; }

[aria-label][data-balloon-pos][data-balloon-pos="up-right"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="up-right"][data-balloon-visible]:after {
  transform: translate(0, 0); }

[aria-label][data-balloon-pos][data-balloon-pos="up-right"]:hover:before,
[aria-label][data-balloon-pos][data-balloon-pos="up-right"][data-balloon-visible]:before {
  transform: translate(0, 0); }

[aria-label][data-balloon-pos][data-balloon-pos="down"]:after {
  left: 50%;
  margin-top: 10px;
  top: 100%;
  transform: translate(-50%, calc(var(--balloon-move) * -1)); }

[aria-label][data-balloon-pos][data-balloon-pos="down"]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: var(--balloon-color);
  left: 50%;
  top: 100%;
  transform: translate(-50%, calc(var(--balloon-move) * -1)); }

[aria-label][data-balloon-pos][data-balloon-pos="down"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="down"][data-balloon-visible]:after {
  transform: translate(-50%, 0); }

[aria-label][data-balloon-pos][data-balloon-pos="down"]:hover:before,
[aria-label][data-balloon-pos][data-balloon-pos="down"][data-balloon-visible]:before {
  transform: translate(-50%, 0); }

[aria-label][data-balloon-pos][data-balloon-pos="down-left"]:after {
  left: 0;
  margin-top: 10px;
  top: 100%;
  transform: translate(0, calc(var(--balloon-move) * -1)); }

[aria-label][data-balloon-pos][data-balloon-pos="down-left"]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: var(--balloon-color);
  left: 5px;
  top: 100%;
  transform: translate(0, calc(var(--balloon-move) * -1)); }

[aria-label][data-balloon-pos][data-balloon-pos="down-left"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="down-left"][data-balloon-visible]:after {
  transform: translate(0, 0); }

[aria-label][data-balloon-pos][data-balloon-pos="down-left"]:hover:before,
[aria-label][data-balloon-pos][data-balloon-pos="down-left"][data-balloon-visible]:before {
  transform: translate(0, 0); }

[aria-label][data-balloon-pos][data-balloon-pos="down-right"]:after {
  right: 0;
  margin-top: 10px;
  top: 100%;
  transform: translate(0, calc(var(--balloon-move) * -1)); }

[aria-label][data-balloon-pos][data-balloon-pos="down-right"]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: var(--balloon-color);
  right: 5px;
  top: 100%;
  transform: translate(0, calc(var(--balloon-move) * -1)); }

[aria-label][data-balloon-pos][data-balloon-pos="down-right"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="down-right"][data-balloon-visible]:after {
  transform: translate(0, 0); }

[aria-label][data-balloon-pos][data-balloon-pos="down-right"]:hover:before,
[aria-label][data-balloon-pos][data-balloon-pos="down-right"][data-balloon-visible]:before {
  transform: translate(0, 0); }

[aria-label][data-balloon-pos][data-balloon-pos="left"]:after {
  margin-right: 10px;
  right: 100%;
  top: 50%;
  transform: translate(var(--balloon-move), -50%); }

[aria-label][data-balloon-pos][data-balloon-pos="left"]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: var(--balloon-color);
  right: 100%;
  top: 50%;
  transform: translate(var(--balloon-move), -50%); }

[aria-label][data-balloon-pos][data-balloon-pos="left"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="left"][data-balloon-visible]:after {
  transform: translate(0, -50%); }

[aria-label][data-balloon-pos][data-balloon-pos="left"]:hover:before,
[aria-label][data-balloon-pos][data-balloon-pos="left"][data-balloon-visible]:before {
  transform: translate(0, -50%); }

[aria-label][data-balloon-pos][data-balloon-pos="right"]:after {
  left: 100%;
  margin-left: 10px;
  top: 50%;
  transform: translate(calc(var(--balloon-move) * -1), -50%); }

[aria-label][data-balloon-pos][data-balloon-pos="right"]:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-color: var(--balloon-color);
  left: 100%;
  top: 50%;
  transform: translate(calc(var(--balloon-move) * -1), -50%); }

[aria-label][data-balloon-pos][data-balloon-pos="right"]:hover:after,
[aria-label][data-balloon-pos][data-balloon-pos="right"][data-balloon-visible]:after {
  transform: translate(0, -50%); }

[aria-label][data-balloon-pos][data-balloon-pos="right"]:hover:before,
[aria-label][data-balloon-pos][data-balloon-pos="right"][data-balloon-visible]:before {
  transform: translate(0, -50%); }

[aria-label][data-balloon-pos][data-balloon-length="small"]:after {
  white-space: normal;
  width: 80px; }

[aria-label][data-balloon-pos][data-balloon-length="medium"]:after {
  white-space: normal;
  width: 150px; }

[aria-label][data-balloon-pos][data-balloon-length="large"]:after {
  white-space: normal;
  width: 260px; }

[aria-label][data-balloon-pos][data-balloon-length="xlarge"]:after {
  white-space: normal;
  width: 380px; }

@media screen and (max-width: 768px) {
  [aria-label][data-balloon-pos][data-balloon-length="xlarge"]:after {
    white-space: normal;
    width: 90vw; } }
[aria-label][data-balloon-pos][data-balloon-length="fit"]:after {
  white-space: normal;
  width: 100%; }

.navbar-grand {
  height: 100px; }

.nav-logo {
  font-weight: bold;
  font-size: 1.8em; }

.banner {
  width: 100%;
  height: 100vh;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.banner-text {
  transition: .5s;
  position: relative; }

.scroll-animation {
  position: absolute;
  border: solid 2px white;
  border-radius: 25px;
  height: 75px;
  width: 40px;
  transform: scale(0.6);
  display: flex;
  justify-content: center;
  padding: 15px; }

.circle-animation {
  position: relative;
  height: 5px;
  width: 5px;
  background-color: #fff;
  animation: animScroll 2s infinite;
  top: 0px; }

@keyframes animScroll {
  0% {
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 1;
    top: 0px; }
  100% {
    opacity: 0;
    top: 30px; } }
#sobre img {
  box-shadow: 2px 2px 16px -5px rgba(28, 28, 28, 0.75);
  filter: grayscale(100%);
  transition: .5s; }

#sobre img:hover {
  filter: grayscale(0%);
  transform: scale(1.01); }

.grafico-fundo {
  border: solid 2px #fff;
  border-radius: 20px;
  width: 100%;
  height: 10px;
  transition: all .5s; }

.grafico-fundo:hover {
  box-shadow: 1px 1px 5px 0 #fff; }

.grafico-preenchimento {
  background-color: #fff;
  height: 100%;
  border-radius: 20px; }

.grafico a {
  transition: .25s; }
  .grafico a:hover {
    color: #fff !important;
    text-decoration: none; }

.img-port {
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
  top: -5px; }

.img-port:hover {
  box-shadow: none;
  top: 0;
  transform: perspective(1000px) rotateX(10deg); }

.img-port .glow-wrap {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: 0px; }

.img-port .glow {
  display: block;
  position: absolute;
  width: 150%;
  height: 200%;
  background: rgba(255, 255, 255, 0.075);
  top: 0;
  filter: blur(5px);
  transform: rotate(45deg) translate(-450%, 0);
  transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1); }

.img-port:hover .glow {
  transform: rotate(45deg) translate(450%, 0);
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.img-port:hover img,
.img-port:hover .glow-wrap {
  margin-top: 0; }

.time-icon {
  width: 100%;
  text-align: center;
  position: relative;
  top: -35px; }

.timeline {
  position: relative;
  margin: 50px auto;
  padding: 40px 0; }
  .timeline::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #c5c5c5; }
  .timeline ul {
    margin: 0;
    padding: 0; }
    .timeline ul li {
      list-style: none;
      line-height: normal;
      position: relative;
      width: 50%;
      padding: 20px 40px;
      box-sizing: border-box; }
      .timeline ul li:nth-child(odd) {
        float: left;
        text-align: right;
        clear: both; }
      .timeline ul li:nth-child(even) {
        float: right;
        text-align: left;
        clear: both; }
      .timeline ul li:nth-child(odd)::before {
        content: '';
        position: absolute;
        top: 25px;
        right: -6px;
        width: 10px;
        height: 10px;
        background-color: #1c1c1c;
        border-radius: 50%;
        box-shadow: 0 0 0 3px #1c1c1c; }
      .timeline ul li:nth-child(even)::before {
        content: '';
        position: absolute;
        top: 25px;
        left: -5px;
        width: 10px;
        height: 10px;
        background-color: #1c1c1c;
        border-radius: 50%;
        box-shadow: 0 0 0 3px #1c1c1c; }
      .timeline ul li h3 {
        margin: 0;
        padding: 0;
        font-weight: 600; }
      .timeline ul li p {
        margin: 10px 0 0;
        padding: 0; }

.timeline ul li:nth-child(odd) .time,
.timeline ul li:nth-child(even) .time {
  position: absolute;
  color: #fff;
  width: 250px;
  height: 50px;
  border-radius: 10px;
  max-width: 100%; }

.timeline ul li:nth-child(odd) .time {
  top: 8px;
  right: -280px; }

.timeline ul li:nth-child(even) .time {
  top: 8px;
  left: -280px; }

@media (max-width: 600px) {
  .timeline {
    width: 100%; }

  .timeline::before {
    left: 10px; }

  .timeline ul li {
    width: 100%; }

  .timeline ul li:nth-child(odd), .timeline ul li:nth-child(even) {
    text-align: left; }

  .timeline ul li:nth-child(even)::before, .timeline ul li:nth-child(odd)::before {
    left: 6px; }

  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time {
    position: inherit;
    top: -15px;
    left: 0px; } }

/*# sourceMappingURL=style.css.map */
