<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rodolfo Santos </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="lightbox/css/lightbox.css">
    <link rel="icon" href="img/logo-rodolfo-santos.png">

    <meta name="theme-color" content="#111111">
    <meta name="apple-mobile-web-app-status-bar-style" content="#111111">
    <meta name="msapplication-navbutton-color" content="#111111">

</head>

<body>
    <header class="cabecalho">
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top py-4">
            <div class="container">
                <a class="navbar-brand nav-logo" href="#banner">Rodolfo Santos</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBar"
                    aria-controls="navBar" aria-expanded="false" aria-label="Toggle navigation" id="btn-hamb">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navBar">
                    <ul class="navbar-nav font-1">
                        <li><a class="local-page nav-item nav-link pr-4 active" href="#banner">Home</a></li>
                        <li><a class="local-page nav-item nav-link pr-4" href="#sobre">Sobre</a></li>
                        <li><a class="local-page nav-item nav-link pr-4" href="#qualificacoes">Qualificações</a></li>
                        <li><a class="local-page nav-item nav-link pr-4" href="#trajetoria">Trajetória</a></li>
                        <li><a class="local-page nav-item nav-link pr-4" href="#portifolio">Portifólio</a></li>
                        <li><a class="local-page nav-item nav-link pr-4" href="#contato">Contato</a></li>

                        <li class="d-flex justify-content-center py-4 py-md-0" id="redes-sociais">
                            <a class="nav-item nav-link pr-4" v-for="item in social" :href="item.link" target="_blank">
                                <i :class="item.icone"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="banner parallax-img" id="banner">
            <div class="container w-100 h-100 d-flex align-items-start justify-content-center flex-column banner-text pb-4">
                <div class="flex-fill d-flex justify-content-center flex-column">
                    <h1 class="text-upper text-white text-center pb-3 bold display-4">Rodolfo Santos</h1>
                    <h4 class="text-upper text-center text-md-left text-white pb-3 kerning-3">Desenvolvedor WEB</h4>
                </div>
                <div class="w-100 d-flex justify-content-center align-items-end">
                    <div class="scroll-animation">
                        <div class="circle-animation"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="container margin-2">
        <article class="container row m-0">
            <div class="col-12 col-md-8">
                <h2 class="text-upper text-center text-md-left font-2 bold mb-4 anime-fadeIn"  id="sobre">Sobre mim</h2>
                <p class="anime-fadeIn text-justify">Carreira desenvolvida na área de Tecnologia da Informação, com experiência no gerenciamento
                    de Projetos, implantação e manutenção de sistemas, gestão de equipes e implementação de melhorias,
                    estou atualmente desenvolvendo minha trajetória em busca de Forte atuação na construção de parcerias
                    internas e na interface entre a área de Negócios e TI, otimizando a comunicação, atendimento às
                    necessidades e garantindo a satisfação nos projetos realizados."</p>
            </div>
            <div class="col-12 col-md-4">
                <img src="img/img-sobre.jpg" alt="" class="img-thumbnail anime-fadeIn">
            </div>
        </article>
    </section>

    <section class="bg-black padding-1">
        <article class="container">
            <div class="row">
                <div class="bloco col-12 col-md-4 text-center p-4">
                    <i class="fas fa-laptop-code icon-lg text-white"></i>
                    <h3 class="text-white m-4 text-upper">Web Design</h3>
                    <p class="text-muted">Design focado em WEB Sites, tipografia especializada, mokups, wireframes,
                        diagramação afins de transmitir os objetivos de comunicação dos clientes e que facilitam a
                        utilização pelos usuários. </p>
                </div>

                <div class="bloco col-12 col-md-4 text-center p-4">
                    <i class="fas fa-code icon-lg text-white"></i>
                    <h3 class="text-white m-4 text-upper">Front-End</h3>
                    <p class="text-muted">Desenvolvimento websites, interfaces para sistemas web e páginas na internet
                        de todo tipo, desde
                        redes sociais e páginas de empresas até lojas virtuais.</p>
                </div>

                <div class="bloco col-12 col-md-4 text-center p-4">
                    <i class="fas fa-pen-nib icon-lg text-white"></i>
                    <h3 class="text-white m-4 text-upper">Design Gráfico</h3>
                    <p class="text-muted">Desenvolvimento de UI/UX com prototipação de aplicação web ou mobile
                        utilizando Adobe XD, Photoshop e Illustrator. Artes publicitárias para impressão e marketing
                        Digital.</p>
                </div>
            </div>
        </article>

        <article class="container text-white" id="qualificacoes">
            <h2 class="text-white text-center margin-1 pb-4 pb-md-0 bold" >Qualificações</h2>
            <div class="my-4">
                <h3 class="bold pb-3 b-bottom">Desenvolvimento</h3>

                <div class="grafico-area row">
                    <div class="grafico col-12 col-sm-6 col-md-3 p-4" v-for="qualificacao in desenvolvimento">
                        <h4 class="py-2 font-1-2 text-upper w-100">{{ qualificacao.nome }} </h4>
                        <div class="grafico-fundo" data-balloon-length="large" :aria-label="qualificacao.descricao"
                            data-balloon-pos="down-right">
                            <div class="grafico-preenchimento bg-white" :style="{ width: qualificacao.nivel+'%' }">
                            </div>
                        </div>
                        <a v-if="qualificacao.certificado" :href="qualificacao.certificado"
                            class="d-flex justify-content-end mt-1 text-muted" data-lightbox="certificado"
                            :data-title="qualificacao.nome">Ver certificado
                        </a>
                    </div>
                </div>
            </div>


            <div class="margin-1">
                <h3 class="bold pb-3 b-bottom">Ferramentas e Softwares</h3>

                <div class="grafico-area row ">
                    <div class="grafico col-12 col-sm-6 col-md-3 p-4" v-for="qualificacao in ferramentas">
                        <h4 class="py-2 font-1-2 text-upper">{{ qualificacao.nome }}</h4>
                        <div class="grafico-fundo" data-balloon-length="large" :aria-label="qualificacao.descricao"
                            data-balloon-pos="down-right">
                            <div class="grafico-preenchimento bg-white g-xd" :style="{ width: qualificacao.nivel+'%' }">
                            </div>
                        </div>
                        <a v-if="qualificacao.certificado" :href="qualificacao.certificado"
                            class="d-flex justify-content-end mt-1 text-muted" data-lightbox="certificado"
                            :data-title="qualificacao.nome">Ver certificado
                        </a>
                    </div>
                </div>
            </div>

        </article>
    </section>


    <section id="trajetoria" class="margin-1 pb-3">
        <h2 class="bold text-center text-upper">Trajetória</h2>
        <article class="container margin-1">
            <div class="timeline">
                <div class="time-icon">
                    <i class="fas fa-graduation-cap display-4 time-icon"></i>
                </div>
                <ul>
                    <li class="" v-for="item in academico">
                        <div class="time bg-black">
                            <h4 class="text-white">{{ item.periodo }}</h4>
                        </div>
                        <div class="content">
                            <h3>{{ item.nome }}</h3>
                            <p class="bold text-upper" v-if="item.site"><a :href="item.site" target="_blank" class="link-default"> {{ item.instituicao }} </a></p>
                            <p class="bold text-upper" v-else> {{ item.instituicao }} </p>
                            <p>{{ item.descricao }}
                            </p>
                        </div>
                    </li>
                    <div style="clear: both"></div>
                </ul>
            </div>
        </article>
        <article class="container margin-1">
            <div class="timeline">
                <div class="time-icon">
                    <i class="fas fa-briefcase display-4 time-icon"></i>
                </div>
                <ul>
                    <li class="" v-for="item in profissional">
                        <div class="time bg-black">
                            <h4 class="text-white">{{ item.periodo }}</h4>
                        </div>
                        <div class="content">
                            <h3>{{ item.nome }}</h3>
                            <p class="bold text-upper" v-if="item.site"><a :href="item.site" target="_blank" class="link-default"> {{ item.instituicao }} </a></p>
                            <p class="bold text-upper" v-else> {{ item.instituicao }} </p>
                            <p>{{ item.descricao }}
                            </p>
                        </div>
                    </li>
                    <div style="clear: both"></div>
                </ul>
            </div>
        </article>
    </section>

    <section id="portifolio" class="bg-black text-white padding-1">
        <article class="container" id="portifolio_article">
            <h2 class="text-center text-upper">Portifólio</h2>

            <div class="row mt-4 pt-5">
                <a :href="item.link" target="_blank" class="col-12 col-md-3 pt-4 pt-md-0" v-for="item in portifolio">
                    <div class="img-port">
                        <img :src="item.imagem" :alt="item.nome" class="img-fluid ">
                        <div class="glow-wrap">
                            <i class="glow"></i>
                        </div>
                    </div>
                </a>
            </div>

        </article>
    </section>

    <section class="bg-white padding-1 bg-contato">
        <article class="container row m-auto">
            <h2 id="contato" class="text-center text-upper bold col-md-6 d-flex align-items-center justify-content-center">Contato</h2>
            <div class="info-contato col-md-6 mt-md-0 mt-4">
                <p class="font-2 d-none d-md-block"><i class="fab fa-whatsapp"></i> 12982279588</p>
                <p class="d-block d-md-none"><i class="fab fa-whatsapp"></i> 12982279588</p>

                <p class="text-upper font-2 d-none d-md-block"><i class="far fa-envelope"></i> Rodolfodossantos29@gmail.com</p>
                <p class="text-upper d-block d-md-none"><i class="far fa-envelope"></i> Rodolfodossantos29@gmail.com</p>

                <p class="font-2 d-none d-md-block"><i class="fab fa-instagram"></i> @rodolfo.d.santos/</p>
                <p class="d-block d-md-none"><i class="fab fa-instagram"></i> @rodolfo.d.santos/</p>
            </div>
        </article>
    </section>

    <footer class="bg-black padding-025 d-flex flex-column" id="rodape">
        <div class="container row m-auto">
            <div class="col-12 mt-md-0 mb-3 text-center text-md-left col-md-9 text-white">
                Rodolfo dos Santos - 2020
            </div>
            <div class="col-12 col-md-3 row justify-content-between m-auto">
                <a :href="item.link" target="_blank" v-for="item in social" class="text-white"><i :class="item.icone"></i></a>
            </div>
        </div>
    </footer>


    <a href="#banner" class="btn-upper local-page d-md-none" style="display:none">
        <i class="fas fa-arrow-up"></i>    
    </a>

    <!-- Script BOOTSTRAP -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


    <!-- Meus Scripts -->
    <script src="https://kit.fontawesome.com/35b4ab768d.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="lightbox/js/lightbox.js"></script>

    <script src="js/vue_redes_sociais.js"></script>
    <script src="js/vue_certificados.js"></script>
    <script src="js/vue_portifolio.js"></script>
    <script src="js/vue_trajetoria.js"></script>

    <script src="js/scroll.js"></script>
    <script src="js/anime.js"></script>
    <script src="js/nav.js"></script>

</body>


</html>